body {
    background: url("./assets/home.png");
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
    color: white;
}

img {
    width: 80%;
}
.container {
    margin-top: 50px;
    top: 50%;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ancients {
    text-align: center;
}
select#ancients {
    font-size: 16px;
    padding: 10px;
}
select#levels {
    font-size: 16px;
    padding: 10px;
}
.pressAndPlay {
    font-size: 16px;
    padding: 10px;
}
.card-numbers {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: stretch;
}
.green {
    background-color: green;
    padding: 10px;
    border-radius: 5px;
}
.brown {
    background-color: brown;
    padding: 10px;
    border-radius: 5px;
}
.blue {
    background-color: blue;
    padding: 10px;
    border-radius: 5px;
}
.play-button {
    font-size: 20px;
}